<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <title>Start Project</title>
        <!--  -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/lib/jquery-datepicker/css/jquery.datetimepicker.min.css"/>
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/jquery/jquery-3.7.1.min.js"></script>
        <script src="/lib/jquery-validate/jquery.validate.js"></script>
        <script src="/lib/jquery-validate/additional-methods.js"></script>
        <script src="/lib/jquery-validate/messages_ko.js"></script>
        <script src="/lib/jquery-datepicker/js/jquery.datetimepicker.full.min.js"></script>
        header입니다
    </head>
</th:block>
</html>